.pet {
  width: 250px;
  display: inline-block;
  padding: 1rem;
  border: .3rem solid darkcyan;
  border-radius: 5px;
  margin-right: 20px;
}
.intro{
  text-align:left;
  margin: .25rem 0;
}
.intro > h3 {
  margin: .25rem 0;
}

.intro > p {
  font-size: 1rem;
  margin: .25rem 0;
}

.pet > img {
  max-width: 210px;
}

@media screen and (min-width: 481px){
  .pet > img {
    max-height: 250px;
  }
  .pet {
    width: 400px;
  }
  
}



